@import "./root.css";
@import './header.css';

body {
  text-align: center;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  margin: var(--sideBorder) 0;
}
.order {
  font-size: 1.2rem;
  margin-bottom: var(--sideBorder);
}
.order__id {
  font-weight: 600;
  font-size: 1rem;
}
.text {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: var(--sideBorder);
}